@media screen and (max-width: 499px) {
  .how__des {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .entire__dis__wrap {
    background-color: #51b8de;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 160px 0;
  }
  .mobile__title {
    font-size: 26px;
    margin-bottom: 20px;
    margin-right: 12px;
    margin-left: 12px;
  }
  .mobile__sub {
    font-size: 16px;
    margin: 0 10px;
  }
  .gform {
    width: 90%;
  }

  .ios__img {
    width: 120px;
  }

  .google__img {
    width: 140px;
  }
}
