.entire__dis__wrap {
  background-color: #1d1d1c;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 160px 0;
}

.entire__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.entire__title {
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: 700;
}

.entire__sub {
  font-size: 20px;

  text-align: center;
}

.entire__right {
}

.entire__img {
  width: 300px;
}

.entire__img img {
  width: 100%;
  margin-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
}
